# Plugin bundles
*.plug.bundle

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/

# Zsh files
/.z*

# doit.py
.doit.db
